<?xml version="1.0" encoding="utf-8" ?>
<example>
	<order>
		<folder name="Getting_Started" />
		<folder name="Events" />
	</order>
    <new version="1.0">
        <folder name="Getting_Started\Introduction\Component_Overview\" />
        <folder name="Events\DirectMethods\WebService\" />
        <folder name="Buttons\Basic\Variations\" />
        <folder name="Buttons\ButtonGroup\Overview\" />
        <folder name="Calendar\Overview\Basic\" />
        <folder name="Calendar\Overview\Remote_Data\" />
        <folder name="DataView\Advanced\Grouping\" />
        <folder name="DataView\Advanced\Report\" />
        <folder name="DragDrop\Advanced\Drag_with_State\" />
        <folder name="DragDrop\Advanced\Example1\" />	
        <folder name="DragDrop\Advanced\Example2\" />
		<folder name="DragDrop\Advanced\Example3\" />
		<folder name="DragDrop\Advanced\DragTracker\" />
		<folder name="DragDrop\Advanced\Checkbox_Selector\" />
        <folder name="DragDrop\Basic\Example1\" />
        <folder name="DragDrop\Basic\Example2\" />
        <folder name="DragDrop\Basic\Example3\" />
        <folder name="DragDrop\Grid\Field_to_Grid\" />
        <folder name="DragDrop\Grid\Grid_to_FormPanel\" />
        <folder name="DragDrop\Grid\Grid_to_Grid1\" />
        <folder name="DragDrop\Grid\Grid_to_Grid2\" />
        <folder name="DragDrop\Grid\Grid_to_Tree\" />
        <folder name="DragDrop\Panel\Draggable_Panel\" />
        <folder name="DragDrop\Panel\Dropable_Panel\" />
        <folder name="DragDrop\Panel\Swap_Dropable_Panel\" />
        <folder name="DragDrop\Tree\Tree_to_Div\" />
        <folder name="Element\Basic\Overview\" />
		<folder name="Element\Basic\Layer\" />
		<folder name="Editor\Basic\FormPanel_Labels\" />
        <folder name="Form\ComboBox\MultiCombo\" />
        <folder name="Form\ComboBox\Overview\" />
		<folder name="Form\ComboBox\SelectBox\" />
		<folder name="Form\ComboBox\Linked_Combos_In_Grid\" />
		<folder name="Form\ComboBox\Two_Columns\" />
        <folder name="Form\DropDownField\Overview\" />
		<folder name="Form\DropDownField\ValueText_Mode\" />
        <folder name="Form\SpinnerField\Overview\" />
        <folder name="Form\TriggerField\Trigger_Icons\" />
        <folder name="Form\TriggerField\Trigger_with_Dialog_Editor\" />
        <folder name="Form\TextField\Password_Validation\" />
        <folder name="Form\CompositeField\Overview\" />
        <folder name="Form\Validation\Custom_VType\" />
        <folder name="Form\Validation\Remote_Validation\" />
        <folder name="GridPanel\ArrayGrid\DirectEvent_Creation\" />
        <folder name="GridPanel\ArrayGrid\Remote_Load\" />
        <folder name="GridPanel\ColumnModel\Change_Models\" />
        <folder name="GridPanel\ColumnModel\Column_Variations\" />
        <folder name="GridPanel\ColumnModel\RatingColumn\" />
        <folder name="GridPanel\Commands\Prepare_Commands\" />
        <folder name="GridPanel\Data_Presentation\Server_Mapping\" />
        <folder name="GridPanel\Data_Presentation\Grid_and_Store_Reconfigure\" />
        <folder name="GridPanel\Miscellaneous\Buffered_GridView\" />
        <folder name="GridPanel\Miscellaneous\Save_Filter\" />
        <folder name="GridPanel\Miscellaneous\LockingGridView\" />
        <folder name="GridPanel\Miscellaneous\ColumnHeaderGroup\" />
        <folder name="GridPanel\Miscellaneous\Grid_TotalRow\" />
        <folder name="GridPanel\Miscellaneous\Grouping_TotalRow\" />
        <folder name="GridPanel\Paging_and_Sorting\Handler\" />
        <folder name="GridPanel\Paging_and_Sorting\JSON_WebService\" />
        <folder name="GridPanel\Paging_and_Sorting\Local_Data_Paging\" />
        <folder name="GridPanel\Paging_and_Sorting\Local_Paging_with_Remote_Data\" />
        <folder name="GridPanel\Paging_and_Sorting\Multiple_Sorting_Local\" />
        <folder name="GridPanel\Paging_and_Sorting\Page\" />
        <folder name="GridPanel\Paging_and_Sorting\XML_WebService\" />
        <folder name="GridPanel\Plugins\RowEditor\" />
		<folder name="GridPanel\Plugins\EditableGrid\" />
        <folder name="GridPanel\RowExpander\Dynamic_GridPanels\" />
        <folder name="GridPanel\RowExpander\Dynamic_ListViews\" />
        <folder name="GridPanel\RowExpander\Local_Mode\" />
        <folder name="GridPanel\RowExpander\Shared_Component\" />
        <folder name="GridPanel\RowExpander\MultiLevel_GridPanel\" />
        <folder name="GridPanel\RowExpander\Remote_Mode\" />
        <folder name="GridPanel\System.Data\DataReader\" />
        <folder name="GridPanel\System.Data\DataTable\" />
		<folder name="GridPanel\Update\AutoSave\" />
		<folder name="GridPanel\Restful\Overview\" />
        <folder name="Layout\HBoxLayout\Basic\" />
        <folder name="Layout\VBoxLayout\Basic\" />
		<folder name="Layout\VBoxLayout\VBox_Form\" />
        <folder name="ListView\Basic\Overview\" />
        <folder name="Miscellaneous\ClickRepeater\Basic\" />
        <folder name="Miscellaneous\Debug\Client_Activation\" />
        <folder name="Miscellaneous\Debug\Ext_Debug_Console\" />
        <folder name="Miscellaneous\Debug\Firebug_Lite_Console\" />
        <folder name="Miscellaneous\FlashComponent\Basic\" />
        <folder name="Miscellaneous\Image\Pan\" />
        <folder name="Miscellaneous\Image\Resizable\" />
        <folder name="Miscellaneous\ToolTips\GridPanel_Row_Tooltip\" />
        <folder name="Miscellaneous\ToolTips\GridPanel_Cell_Tooltip\" />
        <folder name="Miscellaneous\Mouse_Distance_Sensor\Basic\" />
        <folder name="Miscellaneous\Mouse_Distance_Sensor\Events\" />
        <folder name="Panel\Basic\IFrame_Communication\" />
        <folder name="TabPanel\Basic\TabMenu\" />
        <folder name="TabPanel\GroupTabPanel\Overview\" />
        <folder name="TabPanel\TabStrip\Overview\" />
        <folder name="Toolbar\Menu\Layout_Toolbar\" />
        <folder name="Toolbar\Menu\Toolbar_ButtonGroup\" />
        <folder name="Toolbar\Menu\Toolbar_Overflow\" />
        <folder name="Toolbar\Menu\Toolbar_with_Menus\" />
        <folder name="Toolbar\Menu\Menu_Layout\" />
		<folder name="Toolbar\Menu\Flat_Toolbar\" />
        <folder name="Toolbar\Menu\Top_Menu\" />
		<folder name="Toolbar\Menu\Toolbar_Switcher\" />
        <folder name="TreePanel\Advanced\ColumnTree\" />
		<folder name="TreePanel\Advanced\TreeGrid\" />
        <folder name="TreePanel\Advanced\Filter\" />
        <folder name="TreePanel\Advanced\Image_Organizer\" />
        <folder name="TreePanel\Advanced\Remote_Mode\" />
        <folder name="TreePanel\Basic\Checkbox_Nodes\" />
        <folder name="TreePanel\Basic\DragDrop_Between_Trees\" />
        <folder name="TreePanel\Basic\Editors\" />
        <folder name="TreePanel\Basic\Reorder_Nodes\" />
        <folder name="TreePanel\Basic\Submit\" />
        <folder name="XRender\Basic\Add_Items\" />
        <folder name="XRender\Basic\New_Window\" />
		<folder name="XRender\Basic\Overview\" />
        <folder name="XRender\Advanced\Parent_Add_Children\" />
        <folder name="XRender\UserControl\UpdateContent\" />
        <folder name="Combination_Samples\Applications\Feed_Viewer\" />
		<folder name="Combination_Samples\Applications\Simple_Tasks\" />
        <folder name="ASP.NET_MVC\Applications\Northwind\" />
        <folder name="Panel\Miscellaneous\Bubble_Panel\" />
    </new>
    <!--<new version="0.8">
        <folder name="Events\DirectMethods\Exceptions\" />
        <folder name="Events\DirectMethods\UserControls\" />
		<folder name="Miscellaneous\XTemplate\Overview\" />
		<folder name="Miscellaneous\Spotlight\Ajax_Overview\" />
		<folder name="Miscellaneous\Spotlight\Overview\" />
		<folder name="GridPanel\MultiHeader\Overview\" />
		<folder name="GridPanel\MultiHeader\Filter\" />
		<folder name="GridPanel\Commands\Basic_Row_Command\" />
		<folder name="GridPanel\Commands\Cell_Command\" />
		<folder name="GridPanel\Commands\Group_Command\" />
		<folder name="GridPanel\Commands\Image_Command\" />
		<folder name="GridPanel\Commands\Menu_Row_Command\" />
		<folder name="GridPanel\Commands\Prepare_Toolbar\" />
		<folder name="GridPanel\Miscellaneous\Submit_Two_Grids\" />
		<folder name="Layout\CardLayout\Basic\" />
		<folder name="Miscellaneous\Locale\Basic\" />
		<folder name="Miscellaneous\Locale\Predefined_Language\" />
		<folder name="Miscellaneous\Locale\User_Language\" />
		<folder name="Form\Miscellaneous\Form_View\" />
		<folder name="Form\Miscellaneous\Edit_Form_View\" />
		<folder name="GridPanel\Data_Representation\Data_Prepare\" />
		<folder name="GridPanel\Data_Representation\Editor_Field_Mapping\" />
		<folder name="GridPanel\Data_Representation\Field_Converter\" />
		<folder name="GridPanel\Data_Representation\Field_Mapping\" />
		<folder name="Buttons\Basic\ImageButton\" />
		<folder name="Buttons\Basic\LinkButton\" />
		<folder name="Form\Label\Basic\" />
		<folder name="Form\HyperLink\Basic\" />
		<folder name="Miscellaneous\ProgressBar\Client_side_update\" />
		<folder name="Miscellaneous\ProgressBar\Server_side_update\" />
		<folder name="Form\TimeField\Overview\" />
		<folder name="Layout\AbsoluteLayout\Basic\" />
		<folder name="Layout\AbsoluteLayout\Absolute_Layout_Form\" />
		<folder name="Layout\AnchorLayout\Basic\" />
		<folder name="Layout\AnchorLayout\Anchor_With_Form\" />
		<folder name="Layout\ColumnLayout\Basic\" />
		<folder name="Panel\Basic\Deferred_Loading\" />
		<folder name="Miscellaneous\History\Basic\" />
		<folder name="Form\TriggerField\Custom_Icon\" />
		<folder name="Form\FormPanel\Basic\" />
		<folder name="Form\FormPanel\Validation\" />
		<folder name="Toolbar\StatusBar\Advanced\" />
		<folder name="ColorPalete\Basic\Custom_Colors\" />
		<folder name="ColorPalete\Basic\Custom_View\" />
		<folder name="ColorPalete\Basic\Overview\" />
		<folder name="MessageBox\Basic\Overview\" />
        <folder name="MessageBox\Basic\ButtonsConfig\" />
        <folder name="Notification\Basic\Overview\" />
		<folder name="Form\FileUploadField\Basic\" />
		<folder name="TreePanel\Basic\Refresh_Static_Tree\" />
		<folder name="Form\ComboBox\Items_Actions\" />
		<folder name="Editor\Basic\Overview\" />
		<folder name="Events\DirectMethods\ID_Mode\" />
		<folder name="Events\DirectMethods\Advanced\" />
		<folder name="MessageBox\Basic\ButtonsConfig\" />
		<folder name="Form\Field_Note\Overview\" />
		<folder name="Form\MultiField\Overview\" />
		<folder name="Toolbar\Menu\Flat_Toolbar\" />
		<folder name="Events\DirectMethods\Exceptions\" />
		<folder name="Events\DirectMethods\UserControls\" />
		<folder name="Form\MultiSelect\Submit_Data\" />
		<folder name="Panel\Basic\AutoLoad_MergeMode\" />		
    </new>-->
</example>