body {
	font-family : "lucida grande",tahoma,arial,sans-serif;
	font-size   : 11px;
}

a { color : #15428B; }
a:link, a:visited { text-decoration : none; }
a:hover { text-decoration : underline; }

#header {
    background : #7F99BE url(../images/layout-browser-hd-bg.gif) repeat-x scroll center center; 
    border     : solid 1px #122A59;
}

.api-title {
	color       : #fff;
	font-size   : 16px;
	font-weight : normal;
	padding     : 5px 10px;
}

div.thumb-wrap {
	border-color : #555;
	float        : left;
	margin       : 5px 5px 5px 10px;
	width        : 300px;
	cursor       : pointer;
	height       : 100px;
}

div.thumb-wrap img {
	float  : left;
	margin : 5px 0px 0px 5px;
	width  : 120px;
	height : 90px;
	border : 1px solid silver;
}

div.thumb-wrap div {
	float       : left;
	margin-left : 10px;
	width       : 160px;
}

div.thumb-wrap h4 {
	font-weight : bold;
	font-size   : 11px;
	color       : #555;
	font-family : tahoma,arial,san-serif;
	margin      : 5px 0px;
}

div.thumb-wrap h6 {
	font-weight : normal;
	font-size   : 11px;
	color       : #555;
	font-family : tahoma,arial,san-serif;
	margin      : 5px 0px 2px 0px;
}

div.thumb-wrap p {
	color        : #777;
	font         : 11px tahoma,arial,helvetica,sans-serif;
	margin-right : 5px;
}

.images-view .x-view-over { background : url(../images/sample-over.gif) #d4e4fa no-repeat; }

#sample-ct { padding : 6px 12px 24px 12px; }

#sample-ct h2 {
    border-bottom : 2px solid #99bbe8;
    cursor        : pointer;
    padding-top   : 6px;
}

#sample-ct h2 div {
    background : transparent url(../images/group-expand-sprite.gif) no-repeat 3px -47px;
    padding    : 4px 4px 4px 17px;
    color      : #3764a0;
    font       : bold 11px tahoma, arial, helvetica, sans-serif;
}

#sample-ct .collapsed h2 div { background-position : 3px 3px; }
#sample-ct dl { margin-left : 2px; }
#sample-ct .collapsed dl { display : none; }

.message {
	text-align    : center;
	background-color : #000;
	color         : #999;
	padding       : 8px;
	font-family   : Verdana, Arial, Helvetica, Helvetica, sans-serif;
	font-size     : 12px;
	border-bottom : 1px solid #202020;
	height        : 15px;
}

.message strong {
    font-weight : bold;
    color       : #fff;
}

.message a {
    color : #fff;
    text-decoration : underline;
}

.x-tree-node-anchor span span, div.thumb-wrap div h4 span {
    margin-left  : 8px;
    padding-left : 25px;
    background   : transparent url(../images/new.gif) no-repeat 0px 3px;
}

.x-tree-node-expanded .x-tree-node-anchor span span{
    background : transparent url(../images/newgray.gif) no-repeat 0px 3px;
}


/* Comments */
div.ecomment{
    padding:0px;
    padding-bottom:6px;
}

table.tborder{
    border: #dadada 1px solid;
    color:#000000;
    background-color: #ffffff;
}

td.thead{
    padding:4px;
    border-bottom: #dadada 1px solid;
    color: #444;
    font-size: 11px;
    background: url(../images/item-hd4.gif) #f9f9f9 repeat-x 0px bottom;
    font-weight:bold;
}

td.alt2{
    border-bottom: #dddddd 1px solid;
    padding: 0px;
}

.username{
    font-size: 10pt;
    font-weight: bold;
    color: #175c9e;
}

.divider {
	height: 1px !important;
	background: #a3bad9;
	margin-bottom: 8px;
	margin-top: 8px;
	overflow: hidden;
}

/* Icons */

.icon-expand-all    { background-image : url(../images/expand-all.gif) !important; }
.icon-collapse-all  { background-image : url(../images/collapse-all.gif) !important; }

.icon-buttons       { background-image : url(/resources/icons/cog.png) !important; }
.icon-buttons       { background-image : url(/resources/icons/buttons.png) !important; }
.icon-brick         { background-image : url(/resources/icons/brick.png) !important; }
.icon-calendar      { background-image : url(/resources/icons/calendar.png) !important; }
.icon-keyboard      { background-image : url(/resources/icons/keyboard.png) !important; }
.icon-compress      { background-image : url(/resources/icons/compress.png) !important; }
.icon-comments      { background-image : url(/resources/icons/comments.png) !important; }
.icon-commentadd    { background-image : url(/resources/icons/comment_add.png) !important; }
.icon-application   { background-image : url(/resources/icons/application.png) !important; }
.icon-applicationgo { background-image : url(/resources/icons/application_go.png) !important; }
.icon-pagewhitecode { background-image : url(/resources/icons/page_white_code.png) !important; }
.icon-scriptcodered { background-image : url(/resources/icons/script_code_red.png) !important; }
.icon-script        { background-image : url(/resources/icons/script.png) !important; }
.icon-css           { background-image : url(/resources/icons/css.png) !important; }
.icon-plugin        { background-image : url(/resources/icons/plugin.png) !important; }
.icon-layout        { background-image : url(/resources/icons/layout.png) !important; }
.icon-desktop       { background-image : url(/resources/icons/desktop.png) !important; }
.icon-tabpanel      { background-image : url(/resources/icons/tabpanel.png) !important; }
.icon-editor        { background-image : url(/resources/icons/editor.png) !important; }
.icon-application   { background-image : url(/resources/icons/application.png) !important; }
.icon-tab           { background-image : url(/resources/icons/tab.png) !important; }
.icon-wand          { background-image : url(/resources/icons/wand.png) !important; }
.icon-tablemultiple { background-image : url(/resources/icons/table_multiple.png) !important; }
.icon-lightning     { background-image : url(/resources/icons/lightning.png) !important; }
.icon-toolbar       { background-image : url(/resources/icons/toolbar.png) !important; }
.icon-viewport      { background-image : url(/resources/icons/viewport.png) !important; }
.icon-information   { background-image : url(/resources/icons/information.png) !important; }
.icon-link          { background-image : url(/resources/icons/link.png) !important; }
.icon-arrowrefresh  { background-image : url(/resources/icons/arrow_refresh.png) !important; }
.icon-colorswatch   { background-image : url(/resources/icons/color_swatch.png) !important; }
.icon-emoticonsmile { background-image : url(/resources/icons/emoticon_smile.png) !important; }
.icon-hourglass     { background-image : url(/resources/icons/hourglass.png) !important; }
.icon-cupblack      { background-image : url(/resources/icons/cup_black.png) !important; }
.icon-applicationgo         { background-image : url(/resources/icons/application_go.png) !important; }
.icon-applicationdouble     { background-image : url(/resources/icons/application_double.png) !important; }
.icon-applicationform       { background-image : url(/resources/icons/application_form.png) !important; }
.icon-applicationviewdetail { background-image : url(/resources/icons/application_view_detail.png) !important; }
.icon-applicationviewtile   { background-image : url(/resources/icons/application_view_tile.png) !important; }
.icon-applicationerror      { background-image : url(/resources/icons/application_error.png) !important; }
.icon-texfieldrename        { background-image : url(/resources/icons/textfield_rename.png) !important; }
.icon-pagewhitecsharp       { background-image : url(/resources/icons/page_white_csharp.png) !important; }
.icon-applicationviewcolumns{ background-image : url(/resources/icons/application_view_columns.png) !important; }
.icon-shapesquareselect     { background-image : url(/resources/icons/shape_square_select.png) !important; }
.icon-applicationsidetree   { background-image : url(/resources/icons/application_side_tree.png) !important; }